
    <section>
      <div class="row">
        <div class="col-sm-3" style="margin: 20px;" ng-repeat="x in subjects|limitTo:3:begin">
          <div
            class="card"
            style="
              width: 18rem;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
          >
            <img
              src="images/subject/{{x.Logo}}"
              style="height: 150px;"
              alt="{{x.Logo}}"
            />
            <div class="card-body">
              <h5 class="card-title">{{x.Name}}</h5>
              <a href="#!test/{{x.Id}}/{{x.Name}}" class="btn btn-primary">Test</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <!--Pagination-->
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
          <ul class="pagination justify-content-center">
            <li><a ng-click="first()"><i class="far fa-hand-point-up"></i></a></li>
            <li><a ng-click="prev()"><i class="far fa-hand-point-left"></i></a></li>
            <li><a ng-click="next()"><i class="far fa-hand-point-right"></i></a></li>
            <li><a ng-click="last()"><i class="far fa-hand-point-down"></i></a></li>
          </ul>
        </div>
        <br><br>
      </div>

      <!-- End Pagination -->
      <!-- partial -->
      <script src="./pagination.js"></script>
    </section>
