
    <!-- About section-->
    <section class="page-section">
      <div class="container">
        <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <span class="font-weight-bold">
                Lập trình Android nâng cao
              </span>
            </div>
            <div class="col-sm-2">
              <span class="badge badge-pill badge-primary">
                {{time}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ng-repeat="quiz in quizs">
            <div class="alert alert-4">{{$index+1}}. {{quiz.Text}}</div>
            <div class="pl-3" ng-repeat="ans in quiz.Answers">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  name="answer{{quiz.Id}}"
                  value="ans.Id"
                  ng-click="tinh_diem(quiz.Marks,quiz.AnswerId,ans.Id)"
                />
                <label class="form-check-label">{{ans.Text}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer font-weight-bold">
          TỔNG ĐIỂM:
          <span class="badge badge-pill badge-success">{{tong_diem}}/{{quizs.length}}</span>
        </div>
      </div>
    </div>
  </div>
    </section>


   
