
    <!-- About section-->
    <section class="page-section">
      <div class="container">
        <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">
              <span class="font-weight-bold">
                {{tenMonHoc}}
              </span>
            </div>
            <div class="col-sm-2">
              <span class="badge badge-pill badge-primary">
                {{time}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div ng-repeat="quiz in quizs|limitTo:1:begin">
            <div class="alert alert-4">{{begin+1}}. {{quiz.Text}}</div>
            <div class="pl-3" ng-repeat="ans in quiz.Answers">
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  name="answer{{quiz.Id}}"
                  value="ans.Id"
                  ng-click="tinh_diem(quiz.Marks,quiz.AnswerId,ans.Id)"
                />
                <label class="form-check-label">{{ans.Text}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer font-weight-bold">
          <button ng-click="xacnhan()" class="btn btn-success">Chấm điểm</button>
          
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <!--Pagination-->
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-3">
      <ul class="pagination justify-content-center">
        <li><a ng-click="first()"><i class="far fa-hand-point-up"></i></a></li>
        <li><a ng-click="prev()"><i class="far fa-hand-point-left"></i></a></li>
        <li><a ng-click="next()"><i class="far fa-hand-point-right"></i></a></li>
        <li><a ng-click="last()"><i class="far fa-hand-point-down"></i></a></li>
      </ul>
    </div>
    <br><br>
  </div>

  <!-- End Pagination -->
  <!-- partial -->
  <script src="./pagination.js"></script>
    </section>


   
