
    <section>
      <div class="container justify-content-center">
        <form name="frmBonus">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Username</label
              ><input
                ng-model="student.username"
                type="text"
                class="form-control"
                name="txtUsername"
                required
              />
              <span class="text-danger" ng-show="frmBonus.txtUsername.$invalid">
                Vui lòng nhập Username
              </span>
            </div>
            <div class="form-group">
              <label for="">Password</label
              ><input
                ng-model="student.password"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="">Full name</label
              ><input
                ng-model="student.fullname"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Email</label
              ><input
                ng-model="student.email"
                type="email"
                class="form-control"
                name="txtEmail"
              />
              <span class="text-danger" ng-show="frmBonus.txtEmail.$invalid">
                Email không hợp lệ
              </span>
            </div>

            <div class="form-group">
              <label for="">Gender</label
              ><input
                ng-model="student.gender"
                type="text"
                class="form-control"
              />

            </div>

            <div class="form-group">
              <label for="">Birthday</label
              ><input
                ng-model="student.birthday"
                type="text"
                class="form-control"
              />
            </div>
          </div>

          <div class="form-group">
            <button
              type="button"
              class="btn btn-danger"
              ng-click="update()"
              ng-hide="index==-1"
            >
              Sửa
            </button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">
              Hủy
            </button>
            <button type="button" class="btn btn-danger" ng-click="clear()">
              Mới
            </button>
          </div>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <td>Username</td>
                <td>Password</td>
                <td>Fullname</td>
                <td>Email</td>
                <td>Gender</td>
                <td>Birthday</td>
                <td>Chức năng</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{students[0].username}}</td>
                <td>{{students[0].password}}</td>
                <td>{{students[0].fullname}}</td>
                <td>{{students[0].email}}</td>
                <td>
                  {{students[0].gender}}
                </td>
                <td>{{students[0].birthday | date: 'dd-MM-yyyy'}}</td>

                <td><a ng-click="edit(0)">Sửa</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>

    <!--===============================================================================================-->
    <script src="js/main.js"></script>

